#nav-bar {
  background: #00a087;
  position: fixed;
  width: 100%;
  padding-right: 2em;
  padding-left: 2em;
  height: 80px;
    top: 0;
    left: 0;
    right: 0;

}

#nav-bar .header {
  vertical-align: middle;
  height: 140%;
  display: inline-block;
  font-size: 200%;
  margin-left: 10px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;

}

#nav-bar img.logo {
  width: 80px;
  filter: invert(100%);
}
