
.new-tweet
{
    display: none;

    width: 380px;
    height: 200px;
    margin: 0, auto;
    margin: auto;
    padding: 10px;

    text-align: center;

    border: grey;
    border-width: thin;
    border-style: solid;
    border-radius: 10px;
    background: #d3d3d3;
}

.new-tweet h2
{
    width: 100%;
    margin-top: 5px;

    text-align: left;

    border-bottom: 1px solid #282324;
}

.counter
{
    display: flex;

    justify-content: flex-end;
}

.new-tweet textarea
{
    width: 100%;
    height: 80px;

    resize: none;
}




.new-tweet input
{
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;

    display: inherit;

    padding: 6px 24px;

    cursor: pointer;
    text-decoration: none;

    color: #666;
    border: 2px gray;
    border-radius: 6px;
    background-color: #f9f9f9;
    text-shadow: 0 1px 0 #fff;
}
