.tweet
{
    margin-top: 30px;
    margin-right: 35px;
    margin-left: 35px;

    opacity: .5;
    border: solid 1px;
    border-radius: 8px;
    background: white;
}

.tweet:hover i
{
    opacity: 1.0;
}

.tweet:hover,
i
{
    opacity: 1.0;
}

.tweet i
{
    float: right;

    padding-top: 9px;
    padding-right: 10px;

    opacity: 0;
    color: teal;
}



.tweet header
{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;

    height: 90px;

    border-radius: 5px;
    background: lightgrey;
}


.tweet img
{
    float: left;

    width: 80px;
    padding-top: 7px;
    padding-left: 7px;

    border-radius: 9px;
}

.tweet footer
{
    height: 40px;

    border-top: solid 1px;
}

.tweet h3
{
    font-family: 'Roboto',sans-serif;
    font-size: 90%;
    font-weight: 400;

    float: right;

    padding-right: 5px;
}

.tweet span.date
{
    font-size: 80%;

    display: inline-block;

    padding-top: 10px;
    padding-left: 10px;
}

.tweet p
{
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.tweet h2
{
    font-size: 20px;

    display: inline-block;

    padding-left: 10px;
}


@media only screen and (min-device-width : 375px) and   (max-device-width : 667px)
{
    .tweet
    {
        margin-right: 5px;
        margin-left: 5px;
    }
}
